<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="mohtasham.paydar.sabalan.ezbazi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".controller.system.application.G"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">




        <activity android:name=".view.activity.ActivityIntro"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>



        <activity
            android:name=".view.activity.ActivityMenu"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

        </activity>




        <activity
            android:name=".view.activity.ActivityHome"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityLogin"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityRegister"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.ActivityShowRent"
            android:theme="@style/AppThemeFullScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.ActivityShowShop"
            android:theme="@style/AppThemeFullScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityListShop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityListRent"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityListPost"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ActivityTicket"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".view.activity.ActivityWebView"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.ActivityComment"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".view.activity.ActivityNetworkError"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop">
        </activity>


    </application>

</manifest>